//
   Created by master on 09/09/16.
//a(href="mailto:#{user.email}")= user.username
extends layout

block content

        //a.link(href="http://google.com") Google
    //a.link(href = fullUrl)=(folder.item_uid +'   '+ folder.item_name)
        // !{folder.item_name}  !{req.url}  !{fullUrl}
    ul
        each item, i in locals.itemsList
            li
                a.link(href="http://localhost:8080/farm/" + item.item_uid +'/gcv')=(item.item_uid +'   '+ item.item_name)


